body{
  margin:0px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#1C1C26;
  }
li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #1C1C26;
}

.active {
  background-color:#BFA4B1 ;
}

.division{
  width: 45%;
  height:100px;
  float:left;
}

.center {
  display:block;
    margin-left:auto;
    margin-right:auto;
    width: 50%;
    color:#A69C94;
}

#left, #right {
  color:#A69C94;
  margin:20px;
  line-height: 50px;

}
p {
  text-align: center;
  color: #A69C94;
  margin: 50px;
  padding:120px
}


